#boardDetail {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	ul {
		width: 100%;
		margin-top: 20px;
		padding: 30px;
		background: #ccc;
		box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.1);
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 20px;

		li {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-content: center;

			label {
				width: 20%;
				min-width: 80px;
				max-width: 150px;
			}

			input[type='checkbox'] {
				cursor: pointer;
				width: 20px;
				height: 20px;
			}

			textarea,
			input[type='password'],
			input[type='text'] {
				width: 70%;
				background: transparent;
				border: none;
				border-bottom: 1px solid #888;
				padding: 5px;
				resize: none;
			}

			textarea {
				height: 300px;
				border: 1px solid #888;
				border-radius: 5px;
			}
		}
	}

	.btnBox {
		width: 100%;
		margin-top: 20px;
		border: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 20px;

		input {
			cursor: pointer;
			padding: 10px 30px;
			font: 500 0.6rem/1 'orbitron';
			letter-spacing: 1px;
			color: #fff;
			background: rgba(var(--keyRGB), 0.8);
			box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
			border-radius: 3px;
			border: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	#boardDetail {
		ul li {
			textarea {
				height: 250px;
			}
		}
		.btnBox {
			gap: 15px;
		}
	}
}

@media screen and (max-width: $mobile) {
	#boardDetail {
		ul li {
			textarea {
				height: 200px;
			}
		}
		.btnBox {
			gap: 10px;
		}
	}
}
