.map {
	width: 100%;

	h2 {
		font-family: 'orbitron';
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	.mapFrames {
		width: 100%;
		height: 55vh;
		border-radius: 5px;
		position: relative;

		article {
			width: 100%;
			height: 100%;
			border-radius: 5px;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;

			&.on {
				opacity: 1;
			}
		}
	}

	.btnSet {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 30px;

		.branch,
		.btnToggleSet {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			li {
				cursor: pointer;
				font: 500 0.6rem/1 'orbitron';
				color: #fff;
				text-align: center;
				background: rgba(var(--keyRGB), 0.8);
				box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
				border-radius: 3px;
				padding: 10px 20px;
				opacity: 0.5;
				transition: 0.5s;

				&.on {
					opacity: 1;
				}
			}
		}

		.branch {
			width: 55%;
			justify-content: flex-start;
			li {
				width: 22%;
			}
		}

		.btnToggleSet {
			width: 45%;
			justify-content: flex-end;
			li {
				width: 35%;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.map {
		.mapFrames {
			height: 45vh;
		}
		.btnSet {
			gap: 20px;
			.branch {
				width: 45%;
				li {
					padding: 10px;
					width: 45%;
				}
			}
			.btnToggleSet {
				width: 30%;
				li {
					width: 85%;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.map {
		.mapFrames {
			height: 35vh;
		}
		.btnSet {
			.branch {
				width: 50%;
			}
			.btnToggleSet {
				width: 40%;
			}
		}
	}
}

.mapOverlay {
	position: relative;
	left: 1px;
	bottom: 65px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;

	&:nth-of-type(n) {
		border: 0;
		box-shadow: 0px 1px 2px #555;
	}

	& .title {
		display: block;
		text-align: center;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		padding: 5px 20px;
		font-size: 14px;
		font-weight: bold;
	}

	&:after {
		content: '';
		position: absolute;
		margin-left: -12px;
		left: 50%;
		bottom: -12px;
		width: 22px;
		height: 12px;
		background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
	}
}
