.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 400px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99;
	backdrop-filter: blur(10px);
	padding: 10vh 10vw;

	.contents {
		width: 100%;
		height: 100%;
	}

	.btnClose {
		cursor: pointer;
		border: none;
		background: transparent;
		font: 700 1.5rem/1 'orbitron';
		letter-spacing: 1px;
		color: rgba(var(--keyRGB), 1);
		vertical-align: top;
		position: absolute;
		top: 4vh;
		right: 5vh;

		.mark2 {
			font: 900 1.6rem/1 'Jua';
			display: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	.modal {
		padding: 10vh 5vw;

		.btnClose {
			right: 5vw;

			.mark1 {
				display: none;
			}
			.mark2 {
				font-size: 2rem;
				display: block;
			}
		}
	}
}
