@use '../variables' as *;

.subMenu {
	width: 100%;
	display: flex;
	// justify-content: space-between;

	.pageName {
		width: 100%;
		font: 500 1.5rem/1 'Jua';
		letter-spacing: 5px;
	}
	.menuBtn {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: 50px;
		button {
			font: 300 0.9rem/1 'Orbit';
			border-bottom: 1px solid #555;
		}
	}
	article {
		width: 100%;
	}
}
