$tablet: 999px;
$mobile: 599px;

:root {
	--keyRGB: 0, 0, 0;
}

// components
@import './components/reset';
@import './components/board';
@import './components/boardDetail';
@import './components/register';
@import './components/modal';
@import './components/map';
@import './components/visual';

// layouts
@import './layouts/footer';
@import './layouts/header';
@import './layouts/layout';
@import './layouts/sideMenu';

// pages
@import './pages/home';
@import './pages/information';
@import './pages/course';
@import './pages/application';
@import './pages/communication';
@import './pages/record';

// pagesubs
@import './pagesubs/course1';
@import './pagesubs/application1';
@import './pagesubs/application3';
@import './pagesubs/communication1';
@import './pagesubs/communication2';
@import './pagesubs/communication3';
@import './pagesubs/communication4';
