.searchBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 20px;

	div {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		gap: 10px;
	}

	input[type='text'] {
		width: 150px;
		border: none;
		border-bottom: 1px solid #888;
		padding: 5px 5px;
		background: transparent;
		resize: none;

		&::placeholder {
			color: rgba(var(--keyRGB), 0.6);
			font: 400 0.8rem/1.2 'raleway';
		}
	}
	input[type='button'],
	input[type='submit'] {
		cursor: pointer;
		display: inline-block;
		padding: 5px 30px;
		font: 500 0.6rem/1 'orbitron';
		letter-spacing: 1px;
		color: #fff;
		background: rgba(var(--keyRGB), 0.8);
		box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
		border-radius: 3px;
		border: none;
	}
}
