.searchBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 20px;

	div {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		gap: 10px;
	}

	input[type='text'] {
		width: 150px;
		background: transparent;
		border: none;
		border-bottom: 1px solid #888;
		padding: 5px;
		resize: none;
	}

	input[type='button'],
	input[type='submit'] {
		cursor: pointer;
		display: inline-block;
		font: 500 0.6rem/1 'orbitron';
		letter-spacing: 1px;
		color: #fff;
		background: rgba(var(--keyRGB), 0.8);
		box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.05);
		border-radius: 3px;
		border: none;
		padding: 10px 30px;
	}
}

.passwordBox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	aside {
		width: 30ww;
		height: 30vh;
		background: #ccc;
		box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.1);
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 30px;

		div {
			width: 50%;
		}

		input[type='password'] {
			width: 50%;
			border: none;
			border-bottom: 1px solid #888;
			padding: 5px 5px;
			background: transparent;
			resize: none;
		}

		input[type='submit'] {
			width: 50%;
			cursor: pointer;
			display: inline-block;
			padding: 10px 10px;
			font: 500 0.6rem/1 'orbitron';
			letter-spacing: 1px;
			color: #fff;
			background: rgba(var(--keyRGB), 0.8);
			box-shadow: 5px 5px 10px rgba(var(--keyRGB), 0.1);
			border-radius: 3px;
			border: none;
		}
	}
}
