.maps {
	width: 100%;
	font: 500 1.2rem/1.5 'Orbit';
	line-height: 2;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.pic {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 5px;
	}
}

.contents {
	width: 100%;

	.title {
		font: 900 1.2rem/1.5 'Jua' 'Orbit';
		margin: 10px 0;
	}

	p {
		white-space: pre-wrap;
		word-break: keep-all;
	}
}
