@use '../variables' as *;

.maps {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contents {
	width: 100%;
	font: 500 1.2rem/1.5 'Jua' 'Orbit';

	.title {
		width: 100%;
		padding: 20px 0;
		font: 900 1.2rem/1.5 'Jua' 'Orbit';
	}
}
