.header {
	width: 100%;
	padding: 30px 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;

	img {
		width: 50px;
		border-radius: 30%;

		&:hover {
			animation: logoAni 1.5s infinite ease;
		}
	}

	.gnb {
		display: flex;
		gap: 50px;
		font: 600 1rem/1 'Raleway';
		color: #555;
		transition: 0.5s;

		li {
			cursor: pointer;

			&.on {
				color: rgba(var(--keyRGB), 1);
				transform: scale(1.2) skew(-10deg);
			}

			&:hover {
				animation: gnbAni 0.3s infinite ease;
			}
		}
	}

	.btnMenuToggle {
		font: 900 1.8rem/1 'Jua';
		position: fixed;
		top: 40px;
		right: 10vw;
		display: none;
		transition: 0.5s;

		&:hover {
			animation: mnbAni 0.5s infinite ease-in;
		}
	}
}

@media screen and (max-width: $tablet) {
	.header {
		.gnb {
			display: none;
		}
		.btnMenuToggle {
			display: block;
		}
	}
}

@media screen and (max-width: $mobile) {
	.header {
		.btnMenuToggle {
			font: 900 1.6rem/1 'Jua';
		}
	}
}

@keyframes logoAni {
	to {
		transform: rotateY(360deg);
	}
}

@keyframes gnbAni {
	from {
		transform: rotate(2deg) scale(1.2);
	}
	to {
		transform: rotate(-2deg) scale(1.2);
	}
}

@keyframes mnbAni {
	50% {
		transform: scale(1.2);
		backdrop-filter: blur(10px);
	}
}
