main {
	width: 100%;
	padding: 5vh 10vw;
	min-height: 70vh;
	background: #ddd;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;

	section {
		width: 100%;
	}

	.main {
		width: 100%;
		padding: 0;
	}
}
